<div class="container">

    <p>Prénom : {{ data.firstName }}</p>
    <p>Nom : {{ data.lastName }}</p>
    <p>Email : {{ data.email }}</p>
    <p>Téléphone : {{ data.phone }}</p>
    <p>Message : {{ data.message }}</p>
</div>