<!--formation-->
<section id="education">
    <div class="red-divider"></div>
    <div class="heading">
        <h2>{{ sectionAttribute.educationTitle }}</h2>
    </div>
    <div class="container">
        <div class="row">
            {% set delay = 0 %}
            {% for education in educations %}
            <div class="col-sm-6 col-lg-4">
                <div data-aos="flip-left"
                     data-aos-delay="{{ delay }}"
                     data-aos-once="true"
                     class="education-block" style="background-color: {{ education.bgColor }}">
                    <span><i class="fas fa-graduation-cap"></i></span>
                    <h3>{{ education.school }}</h3>
                    <h4>{{ education.lessonName }}</h4>
                    <div class="divider_education"></div>
                    <h5>{{ education.date }}</h5>
                    <div class="divider_education"></div>
                    <div class="abstract_education">{{ education.abstract|raw }}</div>
                </div>
            </div>
            {% set delay = delay + 200 %}
            {% endfor %}
        </div>
    </div>
</section>