<!--formation-->
<section id="education">
    <div class="red-divider"></div>
    <div class="heading">
        <h2>Formations</h2>
    </div>
    <div class="container">
        <div class="row">
            {% for education in educations %}
            <div class="col-sm-6 col-lg-4">
                <div class="education-block" style="background-color: {{ education.bgColor }}">
{#                    {{ dump(education) }}#}
                    <span><i class="fas fa-graduation-cap"></i></span>
                    <h3>{{ education.school }}</h3>
                    <h4>{{ education.lessonName }}</h4>
                    <div class="divider_education"></div>
                    <h5>{{ education.date }}</h5>
                    <div class="divider_education"></div>
                    <div class="abstract_education">{{ education.abstract|raw }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>