<!--portfolio-->

<section id="portfolio">
    <div class="container">
        <div class="white-divider"></div>
        <div class="heading">
            <h2>Projets</h2>
        </div>

        <div class="row row-portfolio">
            {% for project in projects %}
                <div class="col-sm-4 portfolioImage">
                    <a href="{{ project.projectUrl }}" target="_blank">
                        <img class="img-thumbnail img-project" src="assets/images/{{ project.image }}" alt="{{ project.name }}">
                        <div class="overlay">
                            <div class="text">
                                <h3>{{ project.name }}</h3>
                                {{ project.abstract|raw }}
                                <div class="divider_project"></div>
                                <p>{{ project.tech }}</p>
                                <div class="divider_project"></div>
                                <p>{{ project.date }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>