<!--navbar-->

<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
        <i class="fas fa-bars fa-lg"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="myNavbar">
        <ul class="nav nav-pills navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv') }}#about">Moi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv') }}#skills">{{ sectionAttribute.skillTitle| split(' ')[0] }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv') }}#experience">{{ sectionAttribute.experienceTitle| split(' ')[0] }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv') }}#education">{{ sectionAttribute.educationTitle| split(' ')[0] }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv') }}#portfolio">{{ sectionAttribute.projectTitle| split(' ')[0] }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv') }}#recommandations">{{ sectionAttribute.recommendationTitle| split(' ')[0] }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cv') }}#contact">{{ sectionAttribute.contactTitle| split(' ')[0] }}</a>
            </li>
            <li class="nav-item">
                {% if app.user %}
                <a title="Déconnexion" class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                <a title="Connexion" class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>